/* ~ ~ ~ Fonts ~ ~ ~ */

@font-face {
	font-family: "montserrat-hairline";
	src: url("../fonts/Montserrat/Montserrat-Hairline.otf");
}

@font-face {
	font-family: "montserrat-light";
	src: url("../fonts/Montserrat/Montserrat-Light.otf");
}

@font-face {
	font-family: "montserrat-regular";
	src: url("../fonts/Montserrat/Montserrat-Regular.otf");
}

@font-face {
	font-family: "montserrat-bold";
	src: url("../fonts/Montserrat/Montserrat-Bold.otf");
}


/* ~ ~ ~ Colors ~ ~ ~ */

@header: rgb(45, 40, 40);
@header-text: rgb(255, 250, 250);
@header-height: 40px;

@graphics-panel: rgb(55, 50, 50);
@dialog-panel: rgb(75, 70, 70);

@navigation: rgb(45, 40, 40);

@select-background: darken(@dialog-panel, 3%);

/* ~ ~ ~ General ~ ~ ~ */

html, body {
	height: 100%;
	font-family: "montserrat-hairline";
	min-width: 1000px;
	min-height: 500px;
}

.content {
	width: 100%;
	height: calc(~"100% - @{header-height}");
}

.no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

::-moz-selection {
    background: @select-background;
}

::selection {
    background: @select-background;
}

/* ~ ~ ~ Header ~ ~ ~ */

.header {
	height: @header-height;
	background-color: @header;
	box-shadow: 0px 1px 12px darken(@header, 12%);
	position: relative;
	z-index: 2;
	.no-select();
}

.header .title {
	color: @header-text;
	padding: 13px 0px 0px 30px;
	display: inline-block;
}

.header .credits {
	color: @header-text;
	position: absolute;
	right: 10px;
	padding: 13px 30px 0px 0px;
	display: inline-block;
}

/* ~ ~ ~ Graphics ~ ~ ~ */

.graphics-panel {
	background-color: @graphics-panel;
	display: inline-block;
	width: 70%;
	height: 100%;
	position: relative;
	z-index: 1;
	box-sizing: border-box;
	vertical-align: middle;
}

.graphics-canvas {
	width: 100%;
	height: 100%;
}

.graphics-svg {
	width: 100%;
	height: 100%;
}

/* ~ ~ ~ Dialog ~ ~ ~ */

.dialog-panel {
	background-color: @dialog-panel;
	display: inline-block;
	width: 30%;
	height: 100%;
	position: relative;
	z-index: 1;
	box-sizing: border-box;
	vertical-align: middle;
}

.explanation {
	height: 80%;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

.explanation-text {
	color: rgb(255, 250, 250);
	font-size: 15px;
	text-indent: 15px;
	margin-bottom: 20px;
	line-height: 25px;
}

.emph {
	font-family: montserrat-light;
	background-color: darken(@dialog-panel, 5%);
	padding: 2px 5px;
}

.link {
	text-decoration: none;
	color: rgb(255, 250, 250);
}

.big-o {
	font-style: italic;
	font-family: montserrat-light;
}

.navigation {
	width: 100%;
	background-color: @navigation;
	height: 40px;
	position: absolute;
	bottom: 0px;
	text-align: center;
	box-sizing: border-box;
	cursor: default;
}

.nav-button {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	padding: 11px 15px 0px 15px;
	box-sizing: border-box;
	cursor: default;
	color: rgb(195, 190, 190);
	transition: color 200ms;
	font-family: "montserrat-light";
}

.nav-button:hover {
	cursor: pointer;
	color: rgb(255, 250, 250);
}

.nav-button-text {

}
